@{
    ViewBag.Title = "Document Processing";
}

<h2>Document Processing</h2>

@using (Html.BeginForm("ProcessDocuments", "Document", FormMethod.Post))
{
    <input type="submit" value="Process Documents" />
}

<div class="row">
    <div class="col-3">Imported Count</div>
    <div class="col-4">
        <span id ="uploadCount"></span>
    </div>
</div>

<div class="row">
    <div class="col-3">Remaining Count</div>
    <div class="col-4">
        <span id="remainingCount"></span>
    </div>
</div>

@using (Html.BeginForm("StoreDocument", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="documentPath">Choose document</label>
    <input type="file" name="file" id="documentPath" />
    <input type="submit" value="Store" />
}

<script src="js/signalr.js"></script>
<script src="js/uploadProcess.js"></script>