@{
    ViewBag.Title = "Upload Processing";
}


@using (Html.BeginForm("StoreDocument", "Document", FormMethod.Post))
{
    <input type="submit" value="Store Documents" />
}

<div class="row">
    <div class="col-3">Imported Count</div>
    <div class="col-4">
        <span id="uploadCount"></span>
    </div>
</div>

<div class="row">
    <div class="col-3">Remaining Count</div>
    <div class="col-4">
        <span id="remainingCount"></span>
    </div>
</div>

<script src="js/signalr.js"></script>
<script src="js/uploadProcess.js"></script>